form.form-horizontal(novalidate, name='issueForm')
  legend New issue
  .form-group(ng-class='{ "has-error": isInValid("name") }')
    label.col-sm-2.control-label(for='name') Title:
    .col-sm-10
      input.form-control(name='name', type='text', ng-model='issue.name', ng-required='true',
        ng-maxlength='50')
    .col-sm-offset-2.col-sm-10.help-block.
      Field is required, and must not be longer than 50 chars
  .form-group
    label.col-sm-2.control-label(for='priority') Priority:
    .col-sm-10
      .priority(ng-class='{ active: issue.priority == "red" }'
        ng-click='setPriority("red")')
        .label.label-danger Emergency
      .priority(ng-class='{ active: issue.priority == "orange" }'
        ng-click='setPriority("orange")')
        .label.label-warning Serious
      .priority(ng-class='{ active: issue.priority == "blue" }'
        ng-click='setPriority("blue")')
        .label.label-info Normal
      .priority(ng-class='{ active: issue.priority == "green" }'
        ng-click='setPriority("green")')
        .label.label-success Minor
  .form-group
    label.col-sm-2.control-label(for='desc') Description:
    .col-sm-10
      textarea.form-control(name='desc', rows='10', ng-model='issue.desc')
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(ng-click='createIssue()',
        ng-disabled='issueForm.$invalid || issue.sending')
          span(ng-show='!issue.sending') Create
          span(ng-show='issue.sending') Creating...
